* {
  box-sizing: border-box;
}

html {
  color: #070707;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}


a {
  text-decoration: none;
  color: black;
}


.bg-image {
  background: url(images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: lighten;
  width: 100%;
  height: 760px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  opacity: 95%;
  font-family: "Miltonian Tattoo";
  font-style: normal;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  height: 70px;
  width: 100%;
  padding: 0 70px;
  z-index: 100;
}



.h-title {
  margin-top: 50px;
  font-size: 35px;

}


ul {
  display: flex;
}

.h-menu {
  list-style: none;
  font-size: 25px;
  padding-left: 60px;
  margin-bottom: 12px;

}

.h-menu:hover{
  color: #fa25e5;
}

.big-name {
  font-family: "Allura";
  position: absolute;
  top: 310px;
  left: 170px;
  font-size: 160px;
  transform: rotate(-12deg);
  /*文字の傾きを変える方法*/

  z-index: 5;
}



.page-title {
  margin-top: 200px;
  margin-bottom: 20px;
  font-size: 60px;
  font-family: 'Sofia', cursive;
  position: static;
}


/*About*/
.About {
  position: relative;
}

.profile {
  margin: 0 50px;
  display: flex;
  justify-content: space-around;
}

.profile-sns {
  position: absolute;
  top: 390px;
  left: 450px;
}

.profile > img {
  width: 400px;
  height: 300px;
  margin-left: 80px;
  object-fit: scale-down;
  border: solid 8px;
}


/*Skills*/

.skill-discription {
  margin: 0 50px;
}

.discription {
  /*  margin-top: 80px;*/
  font-size: 20px;
  width: 600px;
}

.web-create {
  margin-top: 40px;
}


.tool {
  display: flex;
}

.bubble-logo {
  margin-left: 60px;
  margin-top: 10px;
}

.discription2 {
  margin-left: 25px;
}


.skillTitle {
  border-bottom: solid 5px;
  margin-bottom: 20px;
}

.skill-name {
  margin-left: 65px;
}

.tool > p {
  margin-top: 20px;
}

.skill-img {
  width: 100px;
  margin-left: 35px
}

/*Works*/

.products {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.product{
  cursor: pointer;
}

.product > img:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.2em);

  
}
.posters:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.2em);

  
}

.appli {
  display: flex;
}

.product2 {
  height: 350px !important;
  object-fit: scale-down !important;
}

.product-discription {
  margin-bottom: 40px;
  text-align: center;
}

/*bubble*/

.bubble {
  z-index: -100;
}

.top-bubble {
  background-color: rgba(192, 172, 250, 1);
  width: 450px;
  height: 400px;
  left: -180px;
  top: -250px;
  border-radius: 60% 50% 40% 70%/50% 60% 40% 60%;
  z-index: -100;
}

.middle-bubble {
  background-color: rgba(250, 172, 228, 1);
  width: 400px;
  height: 350px;
  top: 1900px;
  left: -20px;
  border-radius: 60% 50% 40% 70%/50% 60% 40% 60%;

}

.middle-bubble2 {
  background-color: rgba(192, 172, 250, 1);
  width: 450px;
  height: 450px;
  right: -200px;
  border-radius: 90% 90% 60% 70%/70% 40% 80% 80%;
  z-index: -1;
}

.bottom-bubble {
  background-color: rgba(250, 172, 228, 1);
  width: 550px;
  height: 350px;
  border-radius: 60% 50% 40% 70%/50% 60% 40% 60%;
  right: -200px;
  z-index: -20;
  bottom: 550px;
}

.bottom-bubble2 {
  background-color: rgba(250, 247, 172, 1);
  width: 350px;
  height: 350px;
  bottom: -100px;
  left: -200px;
  border-radius: 60% 50% 40% 70%/50% 60% 40% 60%;
  z-index: -1;
}

.top-bubble,
.middle-bubble,
.middle-bubble2,
.bottom-bubble,
.bottom-bubble2 {

  position: absolute;
  animation: rotation 2s ease 0s infinite alternate-reverse none running;
}

@keyframes rotation {
  0% {
    transform:
      translate(0, 0px);


  }

  100% {
    transform: translate(0, -25px);

  }
}

main {
  margin: 0 140px;
}

/*
.background{
  margin: 0 auto;
  background-image: url(images/bg-img.jpg);
  width: 100%;
  height: 700px;
 
 
}
*/

/*
.bg-img {
  background-image: url(images/bg-img.jpg);
  position: relative;
  width: 100%;
  height: 890px;
  opacity: 100%;
  margin-top: 130px;
  z-index: 0;
}
*/

.sns {
  position: absolute;
  top: 550px;
  right: 60px;
}

/*
.product>img:hover{
  background-blend-mode: color-burn;
}


.posters:hover{
  border: solid;
  border-color: aquamarine;
}
*/
